* {
	font-family: 'Cairo', sans-serif;
	box-sizing: border-box;
}

nav.nav {
	padding: 50px 20px 10px;
	position: relative;
}


nav .logo-container {
	text-align: center;
	cursor: pointer;
}

nav .logo-container .logo{
	font-size:2em;
	color: #1e87f0;
	font-weight: bold;
}
nav .logo-container .logo span{
	color: #fff;
	background-color: #1e87f0;
	padding:0 5px;
	border-radius: 5px;
}

.navbar-container{
	height: 70px;
	z-index: 10;
}
.navbar-container .navbar{
	width: 100%;
	background-color: #ffffff;
}

.navbar .navbar-control{
	display: none;
	padding: 0 20px;
	overflow: hidden;
	
	color: #1e87f0;
	line-height: 70px;
}
.navbar::after{
	border-bottom: 2px solid #1e87f040;
	top: 1px;
	content: '';
	width: 100%;
	display: block;
	position: relative;
}
.navbar .navbar-control .uk-icon{
	float: right;
	height: 70px;
	line-height: 70px;
	cursor: pointer;
	transition: all .5s ease-in-out
}
.navbar .navbar-control .text{
	float: left;
	font-size: 2em;
}

.navbar .navbar-list{
	text-align: center;
	top: 0;
	height: 70px;
	position: relative;
	background-color: #ffffff;
}


.navbar .uk-list li {
	display: inline-block;
	font-size: 24px;
	padding-top: 5px;
	padding-bottom: 5px; 
	font-weight: 600;
	transition: all .3s ease-in-out;
	cursor: pointer;
}
.navbar .uk-list li:hover{
	background-color: #1e87f080;
	color: #ffffff;
	border-radius: 5px;
}

.navbar .uk-list li a{
	color: inherit;
}
.navbar .uk-list li a:hover{
	text-decoration: none;
}
.navbar .uk-list li.active{
	background-color: #1e87f0;
	color: #ffffff;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}


@media (max-width:800px) {
	/*  Mobile display */
	.navbar .navbar-control{
		display: block;
	}
	.navbar .uk-list {
		margin: 0;
		padding: 10px 0;
	}
	.navbar .navbar-list{
		text-align: center;
		display: none;
		height: auto;

	}
	.navbar .uk-list li {
		display: block;
		font-size: 24px;
		font-weight: 600;
		margin: 15px;
	}
}


/* about-me */

.about-me {
	padding:80px 0 60px;
}

.about-me .about-img{
	width: 300px;
	height: 300px;
}

.about-me .about-name > div span{
	cursor: pointer;
}

.about-me .skills .skill p{
	text-transform: uppercase;
	font-size: 19px;
	margin-bottom: 10px 
}
.about-me .skills .skill .skill-bar{
	background-color: #1e87f040;
	font-size: 18px;
	color:#FFF;
}
.about-me .skills .skill .skill-bar span{
	text-align: right;
	padding: 5px 10px;
	background-color: #1e87f0;
	transition: width 1s ease;

}
.about-me .skills .skill:nth-child(1) .skill-bar span{
	width: 90%
}
.about-me .skills .skill:nth-child(2) .skill-bar span{
	width: 80%
}
.about-me .skills .skill:nth-child(3) .skill-bar span{
	width: 80%
}
.about-me .skills .skill:nth-child(4) .skill-bar span{
	width: 90%
}
.about-me .cv{
	margin-top: 50px
}

.about-me .cv button{
	padding: 18px 32px;
	background-color: #FFF;
	border: 2px solid #1e87f0;
	border-radius: 5px;
	color:#1e87f0;
	font-weight: bold;
	font-size: 16pt;
	cursor: pointer;
	transition: all .4s ease-in-out;
}
.about-me .cv button:hover{
	padding: 18px 32px;
	border: 2px solid #1e87f0;
	border-radius: 5px;
	color: #FFF;
	background-color:#1e87f0;
	font-weight: bold;
	font-size: 16pt;
	cursor: pointer;
}
/**/

.servies{
	background-color: #f7f7f7;
	padding:80px 0 60px;
}
.servies .serv {
	box-sizing: border-box;
}

@media (max-width: 620px) {
	.servies .serv {
		margin-bottom: 10px;
		width: 100%
	}
}
@media (min-width: 621px) {
	.servies .serv {
		width: 50%
	}
}
@media (min-width: 920px) {
	.servies .serv {
		width: 33.333333%
	}
}


.servies .serv .img-container{
	max-width: 280px;
	max-height: 280px;
	margin: auto;
}

.servies .serv img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #fff
}
.servies .serv h2 {
	margin-bottom: 5px;
}
.servies .serv h4 {
	margin-top: 5px;
}

/**/

.port {
	padding:80px 0 60px;
	z-index: 4;
}
.port ul.filter-tags{
	list-style: none;
	padding: 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
	z-index: 4;

}
.port ul.filter-tags li{
	display: inline-block;
	padding: 12px 18px;
	cursor: pointer;
	background-color: #f7f7f7;
	margin: 2px;
	border-radius: 5px; 
	z-index: 4;
}
.port ul.filter-tags li.active{
	border-bottom: 2px solid #1e87f0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.port #shuflle ul.filter{
	overflow: hidden;
}
.port #shuflle ul.filter li {
	transition: all .3s ease;
}
.port #shuflle ul.filter li{
	width: 250px;
	height: 220px;
	line-height: 250px;
	margin: 5px;
}
.port ul.filter li .item {
	width: 100%;
	height: 100%;
}
.port ul.filter li .item .overlay {
	
}
.port ul.filter li .item .img{
	height: 0;
}
.port ul.filter li .item img {
	object-fit: cover;
	width: 250px;
	height: 250px;
}
/**/

.text-center{
	text-align: center;
}

@media (max-width: 630px){
	.center-s{
		text-align: center;
	}
}