* {
	font-family: 'Cairo', sans-serif;
}

nav {
	margin: 50px 20px;
	position: relative;
}


nav .logo-container {
	margin: 50px ;
	text-align: center;
	cursor: pointer;
}

nav .logo-container .logo{
	font-size:34px;
	color: #1e87f0;
	font-weight: bold;
}
nav .logo-container .logo span{
	color: #fff;
	background-color: #1e87f0;
	padding:0 5px;
	border-radius: 5px;
}

.navbar-fix{
	height: 76px;
	display: block;
}

.navbar-container{
	
}

.navbar{
	width: 100%;
	background-color: #ffffff;
}


.navbar .uk-list li {
	display: inline-block;
	font-size: 24px;
	padding-top: 5px;
	padding-bottom: 5px; 
	font-weight: 600;
	transition: all .3s ease-in-out;
}
.navbar .uk-list li:hover{
	background-color: #1e87f080;
	color: #ffffff;
	border-radius: 5px;
	
}
.navbar .uk-list li a{
	color: inherit;
}
.navbar .uk-list li a:hover{
	text-decoration: none;
}
.navbar .uk-list li.active{
	background-color: #1e87f0;
	color: #ffffff;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}

.mobile-nav-btn{
	display: none;
	z-index: 10;
	background-color: #ffffff9c
}

.mobile-nav-btn span{
	cursor: pointer;
}


.scrolled{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 5;

}

@media (max-width:800px) {
	/*  Mobile display */
	.navbar-container{
		height: 80px;
	}
	.navbar{
		display: none;
	}
	.list-container{
		display: none;
		background-color: #ffffff;
	}
	.navbar .uk-list li {
		display: block;
		font-size: 24px;
		font-weight: 600;
		margin: 15px;
	}
	.mobile-nav-btn {
		display: block;
	}
}


body .uk-container +.fixed{
	padding-top: 400px
}

/* about-me */

.about-me .about-img{
	width: 300px;
	height: 300px;
}

.about-me .about-name > div span{
	cursor: pointer;
}

.about-me .skills .skill p{
	text-transform: uppercase;
	font-size: 19px;
	margin-bottom: 10px 
}
.about-me .skills .skill .skill-bar{
	background-color: #1e87f040;
	font-size: 18px;
	color:#FFF;
}
.about-me .skills .skill .skill-bar span{
	text-align: right;
	padding: 5px 10px;
	background-color: #1e87f0;
	transition: width 1s ease;

}
.about-me .skills .skill:nth-child(1) .skill-bar span{
	width: 90%
}
.about-me .skills .skill:nth-child(2) .skill-bar span{
	width: 80%
}
.about-me .skills .skill:nth-child(3) .skill-bar span{
	width: 80%
}
.about-me .skills .skill:nth-child(4) .skill-bar span{
	width: 90%
}
.about-me .cv{
	margin-top: 50px
}

.about-me .cv span{
	padding: 18px 32px;
	border: 2px solid #1e87f0;
	border-radius: 5px;
	color:#1e87f0;
	font-weight: bold;
	font-size: 16pt;
	cursor: pointer;
	transition: all .4s ease-in-out;
}
.about-me .cv span:hover{
	padding: 18px 32px;
	border: 2px solid #1e87f0;
	border-radius: 5px;
	color: #FFF;
	background-color:#1e87f0;
	font-weight: bold;
	font-size: 16pt;
	cursor: pointer;
}
/**/

.slider p{
	color: #1e87f0;
	width: 100%
}

.text-center{
	text-align: center;
}