* {
	font-family: 'Cairo', sans-serif;
}

nav.navbar {
	margin: 50px 20px;
	position: relative;
}


nav .logo-container {
	margin: 50px ;
	text-align: center;
	cursor: pointer;
}

nav .logo-container .logo{
	font-size:34px;
	color: #1e87f0;
	font-weight: bold;
}
nav .logo-container .logo span{
	color: #fff;
	background-color: #1e87f0;
	padding:0 5px;
	border-radius: 5px;
}
nav .main-navbar{
	margin: 0 auto;
	top: 0;
	width: 100%;
	background-color: #ffffffb0;
	z-index: 999;
}




nav .list-container .mobile-nav-btn{
	display: none;
	z-index: 10;
}


nav .uk-list li {
	display: inline-block;
	font-size: 24px;
	padding-top: 5px;
	padding-bottom: 5px; 
	font-weight: 600;
	transition: all .3s ease-in-out;
	cursor: pointer;
}
nav .uk-list li:hover{
	background-color: #1e87f080;
	color: #ffffff;
	border-radius: 5px;
	
}
nav .uk-list li a{
	color: inherit;
}
nav .uk-list li a:hover{
	text-decoration: none;
}
nav .uk-list li.active{
	background-color: #1e87f0;
	color: #ffffff;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}

nav .mobile-nav-btn {
	display: none;
	width: 100%
}


nav .mobile-nav-btn span{
	cursor: pointer;
}


@media (max-width:800px) {
	/*  Mobile display */
	nav.navbar {
		margin: 0;
		position: relative;
	}

	nav .list-container{
		display: none;
		background-color: #ffffff;
	}
	nav .uk-list li {
		display: block;
		font-size: 24px;
		font-weight: 600;
		margin: 15px;
	}
	nav .mobile-nav-btn {
		display: block;
	}
}


body .uk-container +.fixed{
	padding-top: 400px
}

/* about-me */

.about-me {
	padding:80px 0 60px;
}

.about-me .about-img{
	width: 300px;
	height: 300px;
}

.about-me .about-name > div span{
	cursor: pointer;
}

.about-me .skills .skill p{
	text-transform: uppercase;
	font-size: 19px;
	margin-bottom: 10px 
}
.about-me .skills .skill .skill-bar{
	background-color: #1e87f040;
	font-size: 18px;
	color:#FFF;
}
.about-me .skills .skill .skill-bar span{
	text-align: right;
	padding: 5px 10px;
	background-color: #1e87f0;
	transition: width 1s ease;

}
.about-me .skills .skill:nth-child(1) .skill-bar span{
	width: 90%
}
.about-me .skills .skill:nth-child(2) .skill-bar span{
	width: 80%
}
.about-me .skills .skill:nth-child(3) .skill-bar span{
	width: 80%
}
.about-me .skills .skill:nth-child(4) .skill-bar span{
	width: 90%
}
.about-me .cv{
	margin-top: 50px
}

.about-me .cv button{
	padding: 18px 32px;
	background-color: #FFF;
	border: 2px solid #1e87f0;
	border-radius: 5px;
	color:#1e87f0;
	font-weight: bold;
	font-size: 16pt;
	cursor: pointer;
	transition: all .4s ease-in-out;
}
.about-me .cv button:hover{
	padding: 18px 32px;
	border: 2px solid #1e87f0;
	border-radius: 5px;
	color: #FFF;
	background-color:#1e87f0;
	font-weight: bold;
	font-size: 16pt;
	cursor: pointer;
}
/**/

.servies{
	background-color: #f7f7f7;
	padding:80px 0 60px;
}
.servies .serv {
	box-sizing: border-box;
}

@media (max-width: 620px) {
	.servies .serv {
		margin-bottom: 10px;
		width: 100%
	}
}
@media (min-width: 621px) {
	.servies .serv {
		width: 50%
	}
}
@media (min-width: 920px) {
	.servies .serv {
		width: 33.333333%
	}
}


.servies .serv .img-container{
	max-width: 280px;
	max-height: 280px;
	margin: auto;
}

.servies .serv img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #fff
}
.servies .serv h2 {
	margin-bottom: 5px;
}
.servies .serv h4 {
	margin-top: 5px;
}

/**/

.port {
	padding:80px 0 60px;
}
.port ul.filter-tags{
	list-style: none;
	padding: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;

}
.port ul.filter-tags li{
	display: inline-block;
	padding: 12px 18px;
	cursor: pointer;
	background-color: #f7f7f7;
	margin: 2px;
	border-radius: 5px; 
}
.port ul.filter-tags li.active{
	border-bottom: 2px solid #1e87f0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
/**/

.text-center{
	text-align: center;
}

@media (max-width: 630px){
	.center-s{
		text-align: center;
	}
}